# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\OneDrive - University of St Andrews\Learning\edx\CS50’s Introduction to Artificial Intelligence with Python\Project 6\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
